
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}


<div class="jumbotron">
    <h1>Admin Panel Of Max E-Library</h1>
    <p class="lead">Welcome To Admin Panel</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Back To Home</a></p>
</div>

