

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";

}
<div class="container">
    <h2 style="text-align:center;">Author Information</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Author</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    BirthDate
                </th>
                <th>
                    Address
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Add Author</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="AuthorID">ID</label>
                        <input type="text" class="form-control" id="AuthorID" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="AuthorName">Author Name</label>
                        <input type="text" class="form-control" id="AuthorName" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" id="Email" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="Phone">Phone</label>
                        <input type="text" class="form-control" id="Phone" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="BirthDate">BirthDate</label>
                        <input type="date" class="form-control" id="BirthDate" placeholder="" />


                    </div>

                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" placeholder="" />

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-warning" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Users.js"></script>